@charset "UTF-8";
@import url(../vendor/bootstrap/dist/css/bootstrap.min.css);
@import url(../vendor/impress.js/css/impress-demo.css);
@import url(../vendor/fontawesome/css/font-awesome.css);
@import url(pygments.css);
@font-face {
  font-family: 'octicons';
  src: font-url("../octicons/octicons.eot");
  src: font-url("../octicons/octicons.eot#iefix") format("embedded-opentype"), font-url("../octicons/octicons.woff") format("woff"), font-url("../octicons/octicons.ttf") format("truetype"), font-url("../octicons/octicons.svg#octicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }

.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }

.octicon-alert:before {
  content: '\f02d'; }

/*  */
.octicon-alignment-align:before {
  content: '\f08a'; }

/*  */
.octicon-alignment-aligned-to:before {
  content: '\f08e'; }

/*  */
.octicon-alignment-unalign:before {
  content: '\f08b'; }

/*  */
.octicon-arrow-down:before {
  content: '\f03f'; }

/*  */
.octicon-arrow-left:before {
  content: '\f040'; }

/*  */
.octicon-arrow-right:before {
  content: '\f03e'; }

/*  */
.octicon-arrow-small-down:before {
  content: '\f0a0'; }

/*  */
.octicon-arrow-small-left:before {
  content: '\f0a1'; }

/*  */
.octicon-arrow-small-right:before {
  content: '\f071'; }

/*  */
.octicon-arrow-small-up:before {
  content: '\f09f'; }

/*  */
.octicon-arrow-up:before {
  content: '\f03d'; }

/*  */
.octicon-beer:before {
  content: '\f069'; }

/*  */
.octicon-book:before {
  content: '\f007'; }

/*  */
.octicon-bookmark:before {
  content: '\f07b'; }

/*  */
.octicon-broadcast:before {
  content: '\f048'; }

/*  */
.octicon-bug:before {
  content: '\f091'; }

/*  */
.octicon-calendar:before {
  content: '\f068'; }

/*  */
.octicon-check:before {
  content: '\f03a'; }

/*  */
.octicon-checklist:before {
  content: '\f076'; }

/*  */
.octicon-chevron-down:before {
  content: '\f0a3'; }

/*  */
.octicon-chevron-left:before {
  content: '\f0a4'; }

/*  */
.octicon-chevron-right:before {
  content: '\f078'; }

/*  */
.octicon-chevron-up:before {
  content: '\f0a2'; }

/*  */
.octicon-circle-slash:before {
  content: '\f084'; }

/*  */
.octicon-clippy:before {
  content: '\f035'; }

/*  */
.octicon-clock:before {
  content: '\f046'; }

/*  */
.octicon-cloud-download:before {
  content: '\f00b'; }

/*  */
.octicon-cloud-upload:before {
  content: '\f00c'; }

/*  */
.octicon-code:before {
  content: '\f05f'; }

/*  */
.octicon-color-mode:before {
  content: '\f065'; }

/*  */
.octicon-comment:before {
  content: '\f02b'; }

/*  */
.octicon-comment-add:before {
  content: '\f06f'; }

/*  */
.octicon-comment-discussion:before {
  content: '\f04f'; }

/*  */
.octicon-credit-card:before {
  content: '\f045'; }

/*  */
.octicon-dashboard:before {
  content: '\f07d'; }

/*  */
.octicon-database:before {
  content: '\f096'; }

/*  */
.octicon-device-desktop:before {
  content: '\f27c'; }

/*  */
.octicon-device-mobile:before {
  content: '\f038'; }

/*  */
.octicon-diff:before {
  content: '\f04d'; }

/*  */
.octicon-diff-added:before {
  content: '\f06b'; }

/*  */
.octicon-diff-ignored:before {
  content: '\f099'; }

/*  */
.octicon-diff-modified:before {
  content: '\f06d'; }

/*  */
.octicon-diff-removed:before {
  content: '\f06c'; }

/*  */
.octicon-diff-renamed:before {
  content: '\f06e'; }

/*  */
.octicon-ellipsis:before {
  content: '\f09a'; }

/*  */
.octicon-eye:before {
  content: '\f04e'; }

/*  */
.octicon-eye-unwatch:before {
  content: '\f01e'; }

/*  */
.octicon-eye-watch:before {
  content: '\f01d'; }

/*  */
.octicon-file-add:before {
  content: '\f086'; }

/*  */
.octicon-file-binary:before {
  content: '\f094'; }

/*  */
.octicon-file-code:before {
  content: '\f010'; }

/*  */
.octicon-file-directory:before {
  content: '\f016'; }

/*  */
.octicon-file-directory-create:before {
  content: '\f095'; }

/*  */
.octicon-file-media:before {
  content: '\f012'; }

/*  */
.octicon-file-pdf:before {
  content: '\f014'; }

/*  */
.octicon-file-submodule:before {
  content: '\f017'; }

/*  */
.octicon-file-text:before {
  content: '\f011'; }

/*  */
.octicon-file-zip:before {
  content: '\f013'; }

/*  */
.octicon-gear:before {
  content: '\f02f'; }

/*  */
.octicon-gift:before {
  content: '\f042'; }

/*  */
.octicon-gist:before {
  content: '\f00e'; }

/*  */
.octicon-gist-fork:before {
  content: '\f079'; }

/*  */
.octicon-gist-new:before {
  content: '\f07a'; }

/*  */
.octicon-gist-private:before {
  content: '\f00f'; }

/*  */
.octicon-gist-secret:before {
  content: '\f08c'; }

/*  */
.octicon-git-branch:before {
  content: '\f020'; }

/*  */
.octicon-git-branch-create:before {
  content: '\f098'; }

/*  */
.octicon-git-branch-delete:before {
  content: '\f09b'; }

/*  */
.octicon-git-commit:before {
  content: '\f01f'; }

/*  */
.octicon-git-compare:before {
  content: '\f0ac'; }

/*  */
.octicon-git-fork-private:before {
  content: '\f021'; }

/*  */
.octicon-git-merge:before {
  content: '\f023'; }

/*  */
.octicon-git-pull-request:before {
  content: '\f009'; }

/*  */
.octicon-graph:before {
  content: '\f043'; }

/*  */
.octicon-history:before {
  content: '\f07e'; }

/*  */
.octicon-home:before {
  content: '\f08d'; }

/*  */
.octicon-horizontal-rule:before {
  content: '\f070'; }

/*  */
.octicon-hourglass:before {
  content: '\f09e'; }

/*  */
.octicon-hubot:before {
  content: '\f09d'; }

/*  */
.octicon-info:before {
  content: '\f059'; }

/*  */
.octicon-issue-closed:before {
  content: '\f028'; }

/*  */
.octicon-issue-opened:before {
  content: '\f026'; }

/*  */
.octicon-issue-reopened:before {
  content: '\f027'; }

/*  */
.octicon-jump-down:before {
  content: '\f072'; }

/*  */
.octicon-jump-left:before {
  content: '\f0a5'; }

/*  */
.octicon-jump-right:before {
  content: '\f0a6'; }

/*  */
.octicon-jump-up:before {
  content: '\f073'; }

/*  */
.octicon-key:before {
  content: '\f049'; }

/*  */
.octicon-keyboard:before {
  content: '\f00d'; }

/*  */
.octicon-light-bulb:before {
  content: '\f000'; }

/*  */
.octicon-link:before {
  content: '\f05c'; }

/*  */
.octicon-link-external:before {
  content: '\f07f'; }

/*  */
.octicon-list-ordered:before {
  content: '\f062'; }

/*  */
.octicon-list-unordered:before {
  content: '\f061'; }

/*  */
.octicon-location:before {
  content: '\f060'; }

/*  */
.octicon-lock:before {
  content: '\f06a'; }

/*  */
.octicon-log-out:before {
  content: '\f032'; }

/*  */
.octicon-logo-github:before {
  content: '\f092'; }

/*  */
.octicon-mail:before {
  content: '\f03b'; }

/*  */
.octicon-mail-read:before {
  content: '\f03c'; }

/*  */
.octicon-mail-reply:before {
  content: '\f051'; }

/*  */
.octicon-mark-github:before {
  content: '\f00a'; }

/*  */
.octicon-megaphone:before {
  content: '\f077'; }

/*  */
.octicon-microscope:before {
  content: '\f089'; }

/*  */
.octicon-milestone:before {
  content: '\f075'; }

/*  */
.octicon-mirror-private:before {
  content: '\f025'; }

/*  */
.octicon-mirror-public:before {
  content: '\f024'; }

/*  */
.octicon-move-down:before {
  content: '\f0a8'; }

/*  */
.octicon-move-left:before {
  content: '\f074'; }

/*  */
.octicon-move-right:before {
  content: '\f0a9'; }

/*  */
.octicon-move-up:before {
  content: '\f0a7'; }

/*  */
.octicon-mute:before {
  content: '\f080'; }

/*  */
.octicon-no-newline:before {
  content: '\f09c'; }

/*  */
.octicon-octoface:before {
  content: '\f008'; }

/*  */
.octicon-pencil:before {
  content: '\f058'; }

/*  */
.octicon-person:before {
  content: '\f018'; }

/*  */
.octicon-person-add:before {
  content: '\f01a'; }

/*  */
.octicon-person-follow:before {
  content: '\f01c'; }

/*  */
.octicon-person-remove:before {
  content: '\f01b'; }

/*  */
.octicon-person-team:before {
  content: '\f019'; }

/*  */
.octicon-pin:before {
  content: '\f041'; }

/*  */
.octicon-plus:before {
  content: '\f05d'; }

/*  */
.octicon-primitive-dot:before {
  content: '\f052'; }

/*  */
.octicon-primitive-square:before {
  content: '\f053'; }

/*  */
.octicon-pulse:before {
  content: '\f085'; }

/*  */
.octicon-question:before {
  content: '\f02c'; }

/*  */
.octicon-quote:before {
  content: '\f063'; }

/*  */
.octicon-radio-tower:before {
  content: '\f030'; }

/*  */
.octicon-remove-close:before {
  content: '\f050'; }

/*  */
.octicon-repo:before {
  content: '\f001'; }

/*  */
.octicon-repo-clone:before {
  content: '\f04c'; }

/*  */
.octicon-repo-create:before {
  content: '\f003'; }

/*  */
.octicon-repo-delete:before {
  content: '\f004'; }

/*  */
.octicon-repo-force-push:before {
  content: '\f04a'; }

/*  */
.octicon-repo-forked:before {
  content: '\f002'; }

/*  */
.octicon-repo-pull:before {
  content: '\f006'; }

/*  */
.octicon-repo-push:before {
  content: '\f005'; }

/*  */
.octicon-repo-sync:before {
  content: '\f04b'; }

/*  */
.octicon-rocket:before {
  content: '\f033'; }

/*  */
.octicon-rss:before {
  content: '\f034'; }

/*  */
.octicon-ruby:before {
  content: '\f047'; }

/*  */
.octicon-screen-full:before {
  content: '\f066'; }

/*  */
.octicon-screen-normal:before {
  content: '\f067'; }

/*  */
.octicon-search:before {
  content: '\f02e'; }

/*  */
.octicon-server:before {
  content: '\f097'; }

/*  */
.octicon-settings:before {
  content: '\f07c'; }

/*  */
.octicon-star:before {
  content: '\f02a'; }

/*  */
.octicon-star-add:before {
  content: '\f082'; }

/*  */
.octicon-star-delete:before {
  content: '\f083'; }

/*  */
.octicon-stop:before {
  content: '\f08f'; }

/*  */
.octicon-sync:before {
  content: '\f087'; }

/*  */
.octicon-tag:before {
  content: '\f015'; }

/*  */
.octicon-tag-add:before {
  content: '\f054'; }

/*  */
.octicon-tag-remove:before {
  content: '\f055'; }

/*  */
.octicon-telescope:before {
  content: '\f088'; }

/*  */
.octicon-three-bars:before {
  content: '\f05e'; }

/*  */
.octicon-tools:before {
  content: '\f031'; }

/*  */
.octicon-triangle-down:before {
  content: '\f05b'; }

/*  */
.octicon-triangle-left:before {
  content: '\f044'; }

/*  */
.octicon-triangle-right:before {
  content: '\f05a'; }

/*  */
.octicon-triangle-up:before {
  content: '\f0aa'; }

/*  */
.octicon-versions:before {
  content: '\f064'; }

/*  */
.octicon-x:before {
  content: '\f081'; }

/*  */
.octicon-zap:before {
  content: '\26A1'; }

/* ⚡ */
/* Override to resolve Font-Awesome and RevealJS styling on icon- */
i[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal; }

html, body {
  background: #ffffff; }

html, body, .reveal {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 22px;
  line-height: 1.35em; }

/* Background Watermark */
body::before {
  content: url(../img/blacktocat.png);
  position: absolute;
  opacity: .08;
  right: -20%;
  bottom: -10%; }

a {
  color: #4183c4;
  text-decoration: none; }

pre {
  box-shadow: 0 0 0 3px #999999;
  border-radius: .25em;
  /*font-size: 1.5em !important;*/ }

pre code {
  display: block;
  background: #333333;
  padding: 1em 1em !important;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #6cc644 !important;
  line-height: 1.5em !important;
  word-wrap: break-word; }

h1 {
  font-family: "Apex New", "Helvetica Neue", Helvetica;
  color: #333333;
  text-align: center; }

h2 {
  font-family: "Apex New", "Helvetica Neue", Helvetica !important;
  font-weight: normal;
  color: #333333;
  text-align: center; }

/* Global */
body {
  text-align: center; }

h1 {
  font-size: 55px;
  line-height: 90px;
  font-weight: normal; }

/*h1.title {font-weight: bold; }*/
h2 {
  font-size: 40px;
  line-height: 60px; }

ul {
  list-style: none; }

li {
  line-height: 1.1em;
  padding-bottom: 20px; }

.blue {
  color: #4183c4; }

.step {
  font-size: 40px;
  line-height: 1em; }

p {
  margin-bottom: 25px; }

code {
  font-size: 35px;
  color: #4183c4;
  padding: 0 4px 2px 4px;
  line-height: 1.5em; }

#feedlyMiniIcon {
  display: none !important; }

/* Geeky lists */
ol {
  counter-reset: item -1;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

ol li {
  text-align: left; }

ol li:before {
  content: counter(item) ". ";
  counter-increment: item; }

#roadmap ol {
  width: 500px; }

/* Code */
.highlight {
  text-align: left;
  text-shadow: none;
  width: 101%; }

.highlight code {
  font-size: 1.5em;
  font-family: Inconsolata; }

/* Slide Specific */
.contact-info {
  margin-top: 100px;
  font-size: 30px; }

.contact-info a {
  color: #999999; }

.outro {
  margin-top: 25px; }

.mega-octicon {
  font-size: 1em; }

small {
  font-size: 0.6em;
  color: #999999; }

.linux code {
  font-size: 3px;
  -webkit-column-count: 6;
  -moz-columns: 130px 6;
  columns: 130px 6; }

.matrix tr td {
  padding: 10px; }

.matrix tr td:first-child {
  border-right: 1px solid black;
  padding: 30px 10px 30px 10px; }

.matrix tbody tr:last-child td {
  border-top: 1px solid black;
  padding: 10px 30px 10px 30px; }

.matrix tbody tr:last-child td:first-child {
  border: none; }

.svn tr td, .git tr td {
  padding: 10px; }

table tr td {
  padding: 2%; }

table.apex-first tr td:first-child {
  font-family: "Apex New", "Helvetica Neue", Helvetica;
  font-weight: bold; }

table.apex-header tr:first-child td {
  font-family: "Apex New", "Helvetica Neue", Helvetica;
  font-weight: bold;
  text-align: center; }

table.squished tr td {
  padding: 1%; }

div.notes {
  display: none; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  /* Impress.js specific */
  .fallback-message {
    display: none; }

  @page land {
    size: landscape; }

  .step {
    page-break-inside: avoid;
    page-break-after: always;
    border: none;
    margin-top: 100px; }

  .step img {
    max-height: 100%; }

  /* plus some more step specific styles of your own
  #htop2 { display: none }
   */ }
